.main-about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-about .main-logo {
    padding-bottom: 20px;
    font-size: 1.5rem;
    width: 70%;
    min-width: 153px;
    max-width: 820px;
}

.main-about .about-logo {
    transition: .5s;
    height: 100px;
}

.about-app {
    margin-bottom: 40px;
}

.imgs {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.imgs .gray-circle {
    left: 20px;
    position: relative;
}

.imgs .yellow-circle {
    left: -20px;
    position: relative;
}

.main-about .team {
    columns: 2;
    column-rule: 1px gray solid;
    font-family: 'lato-light';
    background-color: var(--header-bg-color);
    border-radius: 5px;
    padding: 30px 0;
    margin-bottom: 40px;
}

.team p {
    padding: 0 20px;
}

@media (min-width:940px) {

    .gray-circle {
        width: 330px;
        left: 40px;
        position: relative;
    }

    .yellow-circle {
        width: 330px;
        left: -40px;
        position: relative;
    }

    .main-about .main-logo {
        padding: 20px;
        width: 80%;
        font-size: 2rem;
        max-width: 700px;
    }

    .main-about .about-logo {
        height: 100px;
    }
}