.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-logo {
    width: 80px;
    height: 50px;
    border-radius: 20%;
}

.about .subtitle {
    background-color: var(--header-bg-color);
    border-radius: 5px;
    width: 400px;
}

.about .team-bg {
    position: absolute;
    top: 17%;
}

.about .team {
    display: flex;
    justify-content: center;
    font-family: 'lato-light';
    margin-top: 10px;
    width: 100vw;
    height: 28vh;
    padding: 50px 20px;
    background-color: rgba(197, 197, 197, 0.54);
    position: absolute;
    top: 570px;
}