.home {
    display: flex;
    justify-content: space-around;
}

.home .apps {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100px;
}

.apps .app-link img {
    width: 50px;
    transition: .5s;
}

.apps .app-link img:hover {
    width: 60px;
}

.home .main-logo {
    align-items: left;
}

.home .main-logo-img {
    height: 550px;
    width: 800px;
    transition: .5s;
}

.home .main-logo-img:hover {
    height: 570px;
    width: 840px;
}

@media (max-width: 720px) {   
    .home {
        flex-direction: column;
        align-items: flex-end;
        margin-top: 50px;
    }

    .home .apps {
        flex-direction: row;
        width: 500px;
        margin-top: 90px;
    }

    .apps .app-link img {
        width: 65px;
    }

    .home .main-logo-img {
        height: 300px;
        width: 500px;
        transition: .5s;
    }
}