:root {
    --main-bg-color: #fffefe;
    --header-bg-color: #EDEDE9;
    --read-mail: #f2f6fc;
    --mail-txt: #202124;
    --unread-mail-txt: #5f636f;
    --clr2: #D6CCC2;
    --clr3: #E3D5CA;
    --clr4: #D5BDAF;
    --clr5: #d62828;
    --main-yellow: #eeba0b;

}