/* flex helpers */

.flex {
    display: flex;
}

.flex.flex-column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

/* text helpers */

.colored-text {
    color: var(--clr1);
}

/* list helpers */

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


/* Btn-hover */
.hover:hover {
    cursor: pointer;
}

/* Fonts Awesome */
.fa.fa-hamburger::before {
    content: "\f0c9";
}

/* .fa.fa-house::before {
    content: "\f015";
}

.fa.fa-about::before {
    content: "\f05a";
} */

/* .fa.fa-mail::before {
    content: "\f0e0";
    /* content: "\f1a0"; */
/* }

.fa.fa-notes::before {
    content: "\f249";
} */ 

.fa.fa-seen::before {
    content: "\f2b6";
    font-weight: bold;
}

.fa.fa-unseen::before {
    content: "\f0e0";
}

.fa.fa-trash::before {
    content: "\f2ed";
}

.fa .fa-add::before {
    content: "\2b";
}

.fa .fa-open-window::before {
    content: "\f35d";
}