

.note-list {
    margin-top: 20px;
    columns: 200px auto;
    column-gap: 30px;
    column-fill: auto;
    /* height: 50vh; */
    /* max-width: 60vw; */
    width: 90vw;
    padding: 10px;
}

.note {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 9px 1px #d3d3d345;
    background-color: rgb(241, 239, 236);
    margin-bottom: 20px;
    border-radius: 5px;
    min-height: 100px;
    min-width: 250px;
    max-height: fit-content;
    max-width: fit-content;
}

.note .remove-btn {
    position: absolute;
    top: 4px;
    right: 5px;
}

.fa.remove-btn::before {
    content: "\f2ed";
}