.note-add {
    display: flex;
    flex-direction: column;
}

.add-input {
    position: relative;
}

.add-input input {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    width: 500px;
    z-index: 3;
    background-color: transparent;
}

.type-btns {
    position: absolute;
    right: 220px;
    left: 600px;
    top: 2px;
    background-color: lightblue;
}

.type-btns .btn {
    margin-top: 5px;
    margin-right: 3px;
    background-color: transparent;
    box-shadow: none;
    opacity: .7;
}

.fa.txt-keep-btn::before {
    content: "\f075";
}

.fa.img-keep-btn::before {
    content: "\f03e";
}

.fa.todos-keep-btn::before {
    content: "\f0ae";
}

.fa.vid-keep-btn::before {
    content: "\f03d";
}

@media (max-width: 720px) {
.type-btns {
    left: 370px;
    right: 5px;
}

}