.note-filter {
    display: flex;
    flex-direction: column;
    background-color: var(--clr1-dark);
    justify-content: space-between;
    padding: 10px;
}

.filter-form {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.filter-type-select {
    border: none;
    border-bottom: solid 1px rgba(65, 65, 65, 0.686);
}