.mails-container table td {
    padding: 10px ;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: start;
    text-align: start;
    /* border: 1px solid var(--clr1); */
}

.mails-container table .sub-title {

    flex: 1
}

.mails-container table .title {
    min-width: 315px
}

.mails-container table .time {
    font-size: 0.75rem;
}