.new-mail-btn {
    position: fixed;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    right: 50px;
    bottom: 50px;
    font-size: 1.5rem;
    background-color: #eeba0b;
}
.new-mail-btn:hover{
    bottom: 65px;
}


.main-content-container{
margin-bottom: 40px;
}