.new-mail-btn {
    position: fixed;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    right: 50px;
    bottom: 50px;
    font-size: 1.5rem;
    background-color: var(--main-yellow);
    transition: bottom .3s ease-in-out;
}

.new-mail-btn:hover {
    bottom: 65px;
}


.main-content-container {
    margin-bottom: 40px;
    flex-direction: column;
}


@media (min-width:940px) {

    .main-content-container {
        margin-bottom: 40px;
        flex-direction: row;
    }
}