.mails-container table td {
    padding: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: start;
    text-align: start;
}

.mails-container table .sub-title {
    flex: 1
}

.mails-container table .title {
    min-width: 260px
}

.mails-container table .time {
    font-size: 0.75rem;
}

.mail-card-open {
    background-color: var(--clr2);
    display: block;
    padding: 20px 50px;
}

.mail-card-open td .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.mail-card-open h2 {
    margin: 0;
}

.mail-card-open h3 {
    width: 1000%;
    ;
}