.mails-container {
    border-radius: 2px;
    background-color: var(--clr1);
    width: 100%;
    flex: 7;
    font-family: 'roboto-thin';
    border-radius: 3px;
}


.mails-container table {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
}

.title {
    font-family: 'roboto';
}

.mails-container table tr {
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-bottom: .5px solid #95959547;
    display: flex;
    flex-direction: column;

}

/* .mails-container table tr> :not(last-child) {} */
.msg-read {
    background-color: var(--read-mail);
}


@media (min-width:940px) {

    .mail-container {
        flex: 7;
        width: 85%;
    }

    .mails-container table {
        margin: 0 auto;
        width: 100%;
        border-collapse: collapse;
        flex-direction: row;
    }

    .mails-container table tr {
        flex-direction: row;

    }


}