.mail-container {
    width: 100%;
    background-color: var(--header-bg-color);
    /* background-color: var(--read-mail); */
}


.mail-container .header-container {
    border-radius: 3px;
    padding: 5px;
    background-color: var(--clr2);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.mail-container span {
    padding: 5px 15px;
}

.mail-container .header {
    display: flex;
    align-items: center;
}


.mail-container .utils-container {
    display: flex;
    align-items: center;
}

.mail-container .utils-container>:not(first-child) {
    margin: 5px 10px;
}

.mail-container .title {
    display: flex;
    padding: 5px 20px;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 1px gray solid;

}
.title h2{
    font-size: 2rem;
}

.title h5 {
    margin: 0 5px
}

.title .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.body {
    margin: 30px 10px;
}

@media (min-width:960px) {
    .title .details {
        text-align: start;
    }

    .title .details h5 {
        margin: 5px
    }

    .mail-container .title {
        margin: 0 auto;
        width: 90%;
        flex-direction: row;
        display: flex;
        /* padding: 50px; */
    }

    .title h5 {
        margin: 15px;
    }

    .body {
        margin: 20px 80px;
    }
}