

.mails-container table td {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* border: 1px solid var(--clr1); */
}

.mails-container table .content {
    flex: 1
}

.mails-container table .title {
    min-width: 315px
}