header {
    background: var(--header-bg-color);
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding:  10px 20px;
    align-items: center;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: var(--clr5);
}

nav a.active {
    color: var(--clr5);
    font-weight: bold;
    text-decoration: overline;
}