header {
    background: var(--header-bg-color);
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    margin-bottom: 20px;
}

nav a {
    margin: 1em;
    font-size: 1.25rem;
}

nav a:active {
    color: var(--clr5);
}

nav a.active {
    color: var(--clr5);
    font-weight: bold;
    /* text-decoration: overline; */
}

nav a:hover {
    color: var(--clr5);
}

.nav-menu {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    top: 80px;
    right: 20px;
    padding: 10px;

    width: 200px;
    height: 200px;
    background-color: var(--header-bg-color);
    border-radius: 2px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.153);
}